**/__pycache__
**/*.pyc
**/node_modules
**/dist
**/.git
**/.venv

node_modules
dist
build
venv
__pycache__
*.pyc
*.sqlite3
.git
.env

frontend/beer-tap-dispenser/node_modules
backend/django/venv
backend/django/__pycache__
